body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.wrapper {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
/* Header */
.header{
    padding-top: 30px;
    display: flex;
    display: inline-flex;
    text-align: center;
}
.photo {
    width: 200px;
    height: 350px;
    border-radius: 7%;
}
.title-contacts {
    padding: 60px 40px;
}
.icons {
    display: flex;
}
.contacts-li {
    list-style: none;
}
.title-contacts_icons {
    padding-left: 20px;
}

/* main */
.main {
    text-align: start;
    padding-left: 250px;
}
h2 {
    color: #BFB363;
}
.education_link {
    color: black;
}

.footer-line {
    height: 5px;
    width: 100%;
    background-color: black;
}