body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
<<<<<<< Updated upstream
    
   
    
    
   
    
=======
>>>>>>> Stashed changes
}
.wrapper {
    width: 1200px;
    text-align: center;
<<<<<<< Updated upstream
   
    
=======
    margin: 0 auto;
>>>>>>> Stashed changes
}
/* Header */
.header{
    padding-top: 30px;
    display: flex;
    display: inline-flex;
    text-align: center;
}
.photo {
<<<<<<< Updated upstream
    width: 150px;
    height: 250px;
    border-radius: 20% ;
=======
    width: 200px;
    height: 350px;
    border-radius: 7%;
>>>>>>> Stashed changes
}
.title-contacts {

    padding: 60px 40px;
}
<<<<<<< Updated upstream
=======
.icons {
    display: flex;
}
.contacts-li {
    list-style: none;
}
>>>>>>> Stashed changes
.title-contacts_icons {
    padding-left: 20px;
}

/* main */
.main {
    text-align: start;
    padding-left: 250px;
}
h2 {
    color: #BFB363;
}
.education_link {
    color: black;
}